{erl_opts, [{i, "./include"}, {lib_dirs, ["lib"]}, {src_dirs, ["test"]}, debug_info, fail_on_warning]}.

{cover_enabled, false}.

{deps_dir, "lib"}.
{deps, [
  {mochiweb, "2.3.*",
    {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
  {gen_leader, "1.*",
    {git, "git://github.com/abecciu/gen_leader_revival.git",
      {branch, "master"}}}]}.
